<mat-card>
    <form [formGroup]="form" (ngSubmit)="auth.login(form.value)">
        <p>
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
        </p>
        <button mat-raised-button color= "primary" [disabled]="!form.valid">Login</button>
    </form>
</mat-card>